<!---------service section start-------->
<div
  class="service"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('static/service.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  "
>
  <div class="service-head text-center pt-3 text-light text-uppercase"></div>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row srow">
      <div class="col-md-3">
        <div
          class="box text-light d-flex flex-column justify-content-center align-items-center"
        >
          <div
            class="icon border rounded-circle d-flex justify-content-center align-items-center"
          >
            <i class="fa fa-desktop" style="font-size: 50px"></i>
          </div>
          <div class="title text-uppercase h4 text-center">web development</div>
          <div class="text-box text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
            ab distinctio, asperiores, enim veniam ipsam?
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div
          class="box text-light d-flex flex-column justify-content-center align-items-center"
        >
          <div
            class="icon border rounded-circle d-flex justify-content-center align-items-center"
          >
            <i class="fa fa-tablet" style="font-size: 50px"></i>
          </div>
          <div class="title text-uppercase h4 text-center">
            apps development
          </div>
          <div class="text-box text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
            ab distinctio, asperiores, enim veniam ipsam?
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div
          class="box text-light d-flex flex-column justify-content-center align-items-center"
        >
          <div
            class="icon border rounded-circle d-flex justify-content-center align-items-center"
          >
            <i class="fa fa-line-chart" style="font-size: 50px"></i>
          </div>
          <div class="title text-uppercase h4 text-center">
            digital marketing
          </div>
          <div class="text-box text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
            ab distinctio, asperiores, enim veniam ipsam?
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div
          class="box text-light d-flex flex-column justify-content-center align-items-center"
        >
          <div
            class="icon border rounded-circle d-flex justify-content-center align-items-center"
          >
            <i class="fa fa-paint-brush" style="font-size: 50px"></i>
          </div>
          <div class="title text-uppercase h4 text-center">
            graphics designing
          </div>
          <div class="text-box text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
            ab distinctio, asperiores, enim veniam ipsam?
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---------service section end-------->
