{% extends 'layout.html' %}
{% block title %}
contact-page
{% endblock  %}

 {% block contant %} 

 
    <div class="container">
        <div class="jumbotron mt-2">
          <h1>This is Contact page</h1>
          <h4>Welcome to our page</h4>
        </div>
      </div>
    </div>
     <div class="gellary">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card mt-3 mb-3">
                            <div class="card-heading">Hello world</div>
                            <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                             Velit dolorum ipsa, suscipit eius nemo sequi.
                        </div>
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                        <div class="card mt-3 mb-3">
                            <div class="card-heading">Hello world</div>
                            <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                             Velit dolorum ipsa, suscipit eius nemo sequi.
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mt-3 mb-3">
                            <div class="card-heading">Hello world</div>
                            <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                             Velit dolorum ipsa, suscipit eius nemo sequi.
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mt-3 mb-3">
                            <div class="card-heading">Hello world</div>
                            <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                             Velit dolorum ipsa, suscipit eius nemo sequi.
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 {% endblock %}
